{% extends 'main/base.html' %}

{% block content %}
<div class="row">
        <div class="col-md-6">
        <div class="card border-primary" style="width: 100%">
            <div class="card-header">
                {% if request.get_full_path == "/booking/new/" %}<h4>Add new booking</h4>
                {% else %}<h4>Edit room</h4>
                {% endif %}
            </div>
              <div class="card-body">
                <form method="POST" class="booking-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary btn-sm">Save</button>
                </form>
              </div>
            </div>
        <a href="/">Back</a>
        </div>
        </div>
{% endblock %}